<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Logikusz</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/faces/index.xhtml</welcome-file>
	</welcome-file-list>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>jdbc-security-domain</realm-name>
		<form-login-config>
			<form-login-page>/faces/login.xhtml</form-login-page>
			<form-error-page>/faces/login.xhtml</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>TEACHER</role-name>
	</security-role>

	<security-role>
		<role-name>DIRECTOR</role-name>
	</security-role>
	
</web-app>